body {
    padding: 7% 15%;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}
.image {
    border-radius: 0.5rem;
    width: 18.75rem;
    height: 18.75rem;
}
#icon {
    transform: translate(0, 120px);
}
.icon-div {
    text-align: center;
    vertical-align: middle;
    border-radius: 0.5rem;
    width: 18.75rem;
    height: 18.75rem;
    position:absolute;
    opacity: 0;
}
.icon-div:hover{
    background-color: hsl(178, 100%, 50%);
    opacity: 0.5;
}
p {
    color: white;
    margin-top: 1.25rem;
}
p:hover {
    color:hsl(178, 100%, 50%);
}
#equilibrium {
    font-size: 1.125rem;
    font-weight: 600;
}
.equilibrium {
    padding-bottom: 1.25rem;
}
.row-icon {
    margin-bottom: 0.313rem;
}
.container{
    border-radius: 0.5rem;
    background-color: hsl(216, 50%, 16%);
    padding: 1.25rem;
    width: 21.25rem;
}
.colored {
    color:hsl(215, 51%, 70%)
   
}
.day-text {
    text-align: right;
    font-weight: 400;
}
.eth-text {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}
.avatar-img {
    width: 15%;
    float: left;
    margin-right: 0.625rem;
}
.avatar-text {
    padding-top: 0.5rem;
    font-weight: 400;
}
hr {
    color: hsl(215, 32%, 27%);
    height: 0.125rem;

}
